body {
    margin: 0px auto;
    padding: 0px;
    box-sizing: border-box;
    cursor: pointer;
    scroll-behavior: smooth;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    font-family: 'Alice', serif;
    /* background: linear-gradient(141deg, #0fb834 0%, #db1fac 51%, #b0e82c 75%); */
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
 @keyframes fadeInAnimation { 
            0% { 
                opacity: 0; 
            } 
            100% { 
                opacity: 1; 
            } 
        } 
::-webkit-scrollbar {
    display: none;
    /*Safari and Chrome*/
} 


/* navbar */

header {
    background-color: rgba(0, 0, 53, 0.8);
    color: rgb(255, 255, 255);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;
    width: 100vw;
}

.headerdiv {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    flex-direction: row;
    padding: 10px 0px;
    transition: 0.5s;
}

.headerele {
    position: relative;
    padding: 4px 22px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    height: 22px;
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: visible;
}

.headerele a {
    color: rgb(255, 255, 255);
    text-decoration: none;
    transition: 0.5s;
}

.headerele a:before{
    position: absolute;
    content: "";
    top: 100%;
    left: 0;    
    width: 100%;
    height: 3px;
    background: #3498db;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.3s;
}


.headerele a:hover {
        color: rgb(255, 251, 29);
      }

.headerele a:hover:after {
        transform: scaleX(1);
        transform-origin: left;
      }
.headerele a:hover:before {
        transform: scaleX(1);
        transform-origin: left;
      }

.headerdiv> :nth-child(1) {
    position: absolute;
    align-self: flex-start;
    left: 45px;
    top: 10px;
    font-size: 25px;
}
.headerele a img {
    align-self: flex-end;
    margin-top: 8px;
}

.headerdiv> :nth-child(7) {
    border: none;
}

.dropdown-content {
  display: none;
  background-color: rgba(0, 0, 53, 0.8);
  position: absolute;
  top: 32px;
  min-width: 100px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a {
  color: white;
  float: none;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown:hover .dropdown-content {
  display: block;
  color: yellow;

}

.navmenu{
    padding: 4px 22px;
    font-size: 18px;
    border-bottom: 1px solid rgba(0, 0, 0, 0.0);
    height: 22px;
    justify-content: center;
    align-items: center;
    filter: invert(100%);
    display: none;    
}
/* progress bar */

.progress-container {
    width: 100%;
    height: 4px;
    background: #ccc;
    box-shadow: 3px 3px 2px rgb(143, 143, 143);
}

.progress-bar {
    height: 4px;
    background: rgb(255, 251, 29);
    width: 0%;
}


/* Home page */

.home {
    /*background: url("../images/home.jpg") center/cover no-repeat fixed;*/
    background-color: black;
    height: 100vh;
    position: relative;
    background-size: 100% 100%;
    background-position: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    transition: 0.7s;
}

.homeimg{
    background: url("../images/home.jpg") center/cover no-repeat fixed;
    /*clip-path: polygon(0% 77%, 60% 0%, 100% 0%, 100% 100%, 0% 100%);*/
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
}
.outdiv {
    position: absolute;
    align-items: center;
    display: flex;
    flex-direction: column;
    background-color: rgba(63, 81, 181, 0.4);
    border: 3px solid rgba(255, 255, 255, 0.4);
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 15px #eee;
    margin-left: 40px;
    width: 420px;
    height: 250px;
}

.outdiv h1 {
    padding: 10px;
    margin: 0px;
    color: rgba(255, 255, 255, 1);
}

.outdiv h2 {
    padding: 10px;
    margin: 0px;
    color: #cccccc;
    font-size: 22px;
}

.outdiv a {
    /* margin: 10px; */
    padding: 12px;
    font-size: 18px;
    border: 0.5px solid white;
    color: rgb(0, 0, 0);
    border-radius: 10px;
    letter-spacing: 1px;
    text-decoration: none;
    background-image: linear-gradient(to right, #a1c4fd 0%, #c2e9fb 51%, #a1c4fd 100%);
    transition: 0.5s;
    background-size: 200% auto;
    box-shadow: 0 0 17px #eee;
}

.btn:hover{
      background-position: right center; 
}

.social {
    margin-top: 14px;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 150px;
}

.social img {
    display: inline-block;
    height: 28px;
    width: 28px;
    border-radius: 5px;
}


/* shop page */

.shop {
    background-color: white;
    background-size: 100% 100%;
    height: 100vh;
    position: sticky;
}

.shopimg{
    background-size: 100% 100%;
    height: 100vh;
    position: sticky;
}

.shopoutdiv {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    margin-top: 62px;
    height: 90vh;
    display: inline-flex;
    flex-direction: column;
}

.imgmaindiv {
    position: relative;
    height: 65vh;
    display: inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    top: 11%;
    margin: auto;
}

.card {
  box-shadow: 1px 0px 8px 3px rgba(0, 0, 0, 0.4);
  max-width: 250px;
  margin: auto;
  text-align: center;
}

.card> :nth-child(1):hover{
    opacity: 0.7;
}
.price {
  color: grey;
  font-size: 22px;
}

.card> :nth-child(4), .card> :nth-child(3){
  border: none;
  outline: 0;
  padding: 8px;
  color: white;
  background-color: #000;
  text-align: center;
  cursor: pointer;
  width: 234px;
  font-size: 18px;
  position: relative;
}
.card> :nth-child(4) a{
    background:none;
    text-decoration: none;
    color: white;
    border:none;
    font-size: 17px;
    font-family: 'Alice', serif;
    position: absolute;
    margin: 6px 0px;
    right:78px;
    transition: 0.5s;
}
.card> :nth-child(4) img{
    margin-right: 120px;
    opacity: 0;
    transition: 0.5s;
}
 .card> :nth-child(3) a{
    background:none;
    text-decoration: none;
    color: white;
    border:none;
    font-size: 17px;
    font-family: 'Alice', serif;
 }

.card> :nth-child(4):hover a{
  padding-right: 85px;
  right: 0;
}

.card> :nth-child(4):hover img{
      opacity: 1;
      padding-right: 25px;
}
.card> :nth-child(3):hover{
    opacity: 0.7;
}

.next {
    align-self: flex-end;
    margin:100px 40px 17px auto;

}

.explore{
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border:none;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    width: 150px;
    position: relative;
    filter: invert(100%);
    outline: none;
}

.explore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.explore span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.explore:hover span {
  padding-right: 25px;
}

.explore:hover span:after {
  opacity: 1;
  right: 0;
}
/* about us page */

.about {
    background-color: black;
    height: 100vh;
    position: relative;
}

.aboutimg{
    background: url("../images/about.jpg") center/cover no-repeat fixed;
    background-size: 100% 100%;
    height: 100vh;
    position: relative;
}


.aboutmain {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    z-index: 999;
    top: 0;
    top: 4%;
    left: 50%;
}

.aboutmaincontent {
    /* clip: rect(30px, 30px, 20px, 20px); */
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 800px;
    letter-spacing: 2px;
    color: black;
    background-color: rgba(255, 255, 255, 0.5);
    padding: 60px;
    padding-bottom: 25px;
    font-size: 22px;
    border-radius: 15px;
    box-shadow: 6px 6px 3px #000000;
    overflow-y: scroll;
}
.aboutmaincontent p{
    margin: 10px 5px;
}
.aboutsocial {
    position: absolute;
    top: 88.5vh;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    width: 200px;
    align-self: flex-end;
    align-items: center;
    left: -7vw;
}

.aboutsocial img {
    height: 32px;
    width: 32px;
    border-radius: 5px;
}


/* contact us page */

.contact {
    background: url("../images/contact.jpg") fixed;
    background-size: 100% 100%;
    height: 100vh;
    background-size: 100% 100%;
    position: relative; 
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow-y: scroll;
}

.contactoutdiv {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    top: 0;
    margin-top: 40px;
    padding-top: 15px;
    width: 100%;
}

.getin {
    position: relative;
    text-align: center;
    color: white;
    margin: 8px;
}

.contactmaincontact {
    position: absolute;
    height: 65vh;
    display:inline-flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    top: 11%;
    margin: 0px;
}

.innercontact {
    background-color: rgba(255, 255, 255, 0.4);
    display: inline-flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 12px 4px;
    border-radius: 15px;
    margin: auto;
}

.innercontact img {
    height: 50px;
    width: 50px;
}

.innercontact h1 {
    margin: 2px 0px;
    color: white;
}

@media only screen and (min-width: 300px) and (max-width: 950px){
    .outdiv{
            width: auto;
            height: auto;
            margin: 0px 7px;
            padding: 10px
    }
    .outdiv h1{
        font-size: 22px;
    }

    .outdiv h2{
        font-size: 18px;
    }

    .outdiv a{
        font-size: 12px;
        padding:7px;
    }
    .social {
    width: 125px;
    }

    .social img {
        height: 22px;
        width: 22px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 300px)
{
    .outdiv{
            width: auto;
            height: auto;
            margin: 0px 7px;
            padding: 10px
    }
    .outdiv h1{
        font-size: 15px;
    }

    .outdiv h2{
        font-size: 12px;
    }

    .outdiv a{
        font-size: 10px;
        padding:7px;
    }
    .social {
    width: 125px;
    }

    .social img {
        height: 22px;
        width: 22px;
        border-radius: 5px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 950px){
    .headerele{
            visibility: hidden;
        }
    .navmenu{
        display: block;
    }
    .headerdiv{
        transition: 0.4s;
    }
    .headerdiv> :nth-child(1){
        font-size: 20px;
        left: 20px;
        top: 14px;
    }
    .dropdown-content{
        top:160px;
    }

   .imgmaindiv{
        overflow-y: scroll;
        height: 100vh;
        top: 0%;
        width: 270px;
        margin: 0px;
        padding: 0px;
    }
    .price{
        font-size: 16px;
        margin: 16px auto;
    }
    .card{
        margin: 15px 0px;
    }
    .next{
        margin: 12px 4px;
    }
    .aboutmaincontent{
        padding: 20px;
        font-size: 16px;
        width: 400px;
    }
    .shopoutdiv{
        justify-content: center;
        align-items: center;
    }
}

@media only screen and (min-width: 550px) and (max-width: 900px){
    .aboutmaincontent{
        padding: 20px;
        font-size: 16px;
        width: 400px;
    }
    .aboutsocial{
        width: 150px;
        margin: auto 3px;
        left: -22vw;
    }
    .aboutsocial img{
        height: 26px;
        width: 26px;
    }
}

@media only screen and (min-width: 280px) and (max-width: 550px){
    .aboutmaincontent{
        padding: 5px;
        font-size: 12px;
        width: 275px;
        box-shadow: 3px 3px 1px #000000;
    }
    .aboutsocial{
        width: 120px;
        margin: auto 6px;
        left: -22vw;
    }
    .aboutsocial img{
        height: 22px;
        width: 22px;
    }
}

@media only screen and (min-width: 650px) and (max-width: 990px){
    .innercontact{
        padding:8px 2px;
        border-radius: 10px;
        width: 200px;
    }
    .innercontact img{
        height: 35px;
        width: 35px;
    }
    .innercontact h1 {
        font-size: 26px;
    }
}
@media only screen and (min-width: 280px) and (max-width: 650px){
    .innercontact{
        padding:8px 2px;
        border-radius: 8px;
        display: flex;
        margin: 7px 5px;
    }
    .innercontact img{
        height: 25px;
        width: 25px;
    }
    .innercontact h1 {
        font-size: 20px;
    }
}