body{
	margin: 0px;
	padding: 0px;
	height: 100%;
  	width: 100%;
  	font-family: 'Alice', serif;
  	cursor: pointer;
    scroll-behavior: smooth;
    animation: fadeInAnimation ease 3s; 
    animation-iteration-count: 1; 
    animation-fill-mode: forwards;
    -webkit-tap-highlight-color: rgba(0,0,0,0);
}
.next {
    align-self: flex-end;
    /*margin:100px 40px 17px auto;*/
    position: absolute;
    bottom: 15px;
    right: 20px;
}

.explore{
    background-color: white;
    font-size: 15px;
    border-radius: 10px;
    padding: 10px;
    border:none;
    color: black;
    transition: all 0.5s;
    cursor: pointer;
    width: 150px;
    position: relative;
    filter: invert(100%);
}

.explore span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.explore span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.explore:hover span {
  padding-right: 25px;
}

.explore:hover span:after {
  opacity: 1;
  right: 0;
}
 @keyframes fadeInAnimation { 
            0% { 
                opacity: 0; 
            } 
            100% { 
                opacity: 1; 
            } 
        } 
        
::-webkit-scrollbar {
    display: none;
    /*Safari and Chrome*/
} 


.bg{
	/*background-image: url("../images/purchase.jpg"); */	
	background-size: 100% 100%;
	background-position:center;
	height: 100vh;
	position: fixed;	
	background-repeat: no-repeat;
	right: 0;
	left: 0;
	color: white;
	font-family: 'Libre Baskerville', serif;
	display: flex;
	flex-direction: row;
	justify-content: center;
}	

.outdiv{	
	display: flex;
	flex-direction: column;
	position: absolute;
	height: 100%;
	width: 100%; 
	align-items: center;
	border: 1px solid rgba(0, 0, 0,1);
}
.proimg{
	padding: 20px;
}
.proimg img{
	height: 300px;
	width: 300px;
	border-radius: 15px;
	box-shadow: 4px 4px 7px #888888;
}
.product{
	background-color: rgba(255, 255, 255,0.3);
	padding:25px;
	border-radius: 10px;
	color: black;
	margin: 20px;
	/*width: 700px;*/
	box-shadow: 1px 0px 8px 3px rgba(0, 0, 0, 0.4);
	overflow-y: scroll;
	padding-bottom: 15px;
	
}

.purchase{
	position: relative;
	background-color: black;
	margin: 10px auto;	
	margin-bottom: 0px;
	padding: 15px;
	width: 100px;
	border-radius: 10px;
}
.purchase a{
	text-decoration: none;
	color: white;
	margin-left: 8px;
}

.head{
	text-align: center;
	color: black;	
}

.purchase:hover{
	opacity: 0.7;
}

@media only screen and (min-width: 280px) and (max-width: 950px){
	.proimg{
		padding: 0px;
	}
	.proimg img{
		height: 250px;
		width: 250px;
	}
	.head{
		padding: auto;
	}
	.product{
		padding: 8px;
		margin: 5px;
	}
}